{% extends "base.html" %} {% block content %}
<div class="settings-container">
  <h1>Configurações</h1>

  <table class="settings-table">
    <thead>
      <tr>
        <th>Configuração</th>
        <th>Explica configuração</th>
        <th>Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Configuração</td>
        <td>explica configuração</td>
        <td>Sim</td>
      </tr>
      <tr>
        <td>Configuração</td>
        <td>explica configuração</td>
        <td>Sim</td>
      </tr>
      <tr>
        <td>Configuração</td>
        <td>explica configuração</td>
        <td>Não</td>
      </tr>
      <tr>
        <td>Configuração</td>
        <td>explica configuração</td>
        <td>URL</td>
      </tr>
      <tr>
        <td>Configuração</td>
        <td>explica configuração</td>
        <td>SSH</td>
      </tr>
    </tbody>
  </table>

  <button class="save-button">Salvar</button>
</div>
{% endblock %}
