<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HHL Inc.</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>
  <body>
    <header>
      <div class="logo">HHL Inc.</div>
      <nav>
        <div class="nav-center">
          {% if not current_user.is_authenticated %}
          <a href="{{ url_for('index') }}">Home</a>
          <a href="{{ url_for('faleconosco') }}">Fale Conosco</a>
          <a href="{{ url_for('preco') }}">Preço</a>
          {% endif %}
          <a href="{{ url_for('sobre') }}">Sobre</a>
          {% if current_user.is_authenticated %}
          <a href="{{ url_for('dashboard') }}">Dashboard</a>
          <a href="{{ url_for('settings') }}">Settings</a>
          <a href="{{ url_for('perfil') }}">Perfil</a>
          {% endif %}
        </div>
        <div class="nav-right">
          {% if current_user.is_authenticated %}
          <a href="{{ url_for('logout') }}">
            Logout <i class="fas fa-sign-out-alt"></i>
          </a>
          {% else %}
          <a href="{{ url_for('login') }}">Login</a>
          {% endif %}
        </div>
      </nav>
    </header>

    <main>{% block content %}{% endblock %}</main>
  </body>
</html>
