{% extends "base.html" %} 
{% block content %}
<div class="settings-container">
  <h1>Configurações</h1>

  <table class="settings-table">
    <thead>
      <tr>
        <th>Configuração</th>
        <th>Explica configuração</th>
        <th>Valor</th>
      </tr>
    </thead>
    <tbody>
      {% for configuracoes in configuracao %}
      <tr>
        <td>{{ configuracoes.nome }}</td>
        <td>{{ configuracoes.descricao }}</td>
        <td>{{ configuracoes.valor }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <button class="save-button">Salvar</button>
</div>{% endblock %}